<div class="row mb-5">
  <div class="col-12">
    <button (click)='sortByValue()' class='btn btn-success mr-5'>Sort by value</button>
    <button (click)='sortByCoverage()' class='btn btn-success mr-5'>Sort by coverage</button>
  </div>
</div>
<table class="table table-bordered m-0 p-0">
  <thead app-header [count] = "count" [total] = "total" [suppliers] = "suppliers" >
  </thead>
  <tbody>
     <tr (selected)='onSelected($event)' app-rfqitem *ngFor="let rfqitem of rfqitems;" [offers]='mapped[rfqitem._id]'  [rfqitem] = 'rfqitem' ></tr>
  </tbody>
</table>
